.looks{

 width: 100%;
 height: 80%;

}
table , th, td {
    width: 50%;
    margin: 0%auto;
    padding: 5%auto;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
#submit {
    background-color: lightblue;
    cursor: pointer;
    width: 100%;
    height: 4%;
    border: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    display: block;
}
#myBtn{
    background-color: lightblue;
    cursor: pointer;
    width: 100%;
    height: 20%;
    border: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    display: block;
}
}
button.active, #myBtn.active, #submit.active{
    background-color: lightblue;
}
button:hover, #myBtn:hover, #submit:hover{
    background-color: pink;
}
div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#vid{
  display: none;
}
/* Modal Content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#needbreak{
        color: #98ffcc;
        font-style:bold;
        font-family: 'Raleway', sans-serif , bold;
        font-size: 150px;
        text-align: center;
        text-shadow: 2px 2px #cc98ff;

    }
#videos, h1{
        color: #98ffcc;
        font-style:bold;
        font-family: 'Raleway', sans-serif , bold;
        font-size: 25px;
        text-align: left;
        text-shadow: 2px 2px lightpink;


    }
}
