
body{
    /*background: linear-gradient(white, lightblue);*/
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    color: lightblue;
    font-style:bold;
    font-family: 'Raleway', sans-serif , bold;
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px lightpink;

}

#intro {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;


}

#piechart_3d{
    float:center;

}
button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
}

button.active {
    background-color: lightblue;
}
button:hover{
    background-color: pink;
}
div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}


.bio {
    width:50%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0%auto;

}
.main-header {
  text-align: center;
}

.layer {
    background-color: rgba(26, 164, 249, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
}
