
<DOCTYPE! html>
<html>
<head>
</head>
<body>
<!-- <script src= "javascript/main.js"></script> -->
<iframe class= "looks" src="https://www.google.com/calendar/embed?src={{email}}" style="border: 0" frameborder="0" scrolling="no"></iframe>
</body>
<!-- this is the code for the need a break button -->

<link type="text/css" rel="stylesheet" href="css/calendar.css">

<body>
  <!-- Trigger/Open The Modal -->
  <button id="myBtn">Need A Break</button>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="pop">
      <span class="close">&times;</span>
      <table class="btns">
          <tr>
    <th><input id="videos" type="radio" name="pop-up" value="videos" checked><h1>Videos</h1></th>
    <th><input id="memes" type="radio" name="pop-up" value="memes"><h1>Memes</h1></th>
</table><tr>
    <input id="submit" type="submit" value="Submit" onclick="showdiv()">

    </div>

    <div class="modal-content" id="vid">
      <span class="close">&times;</span>
      <iframe width="854" height="480" id="iframe" src="" frameborder="0" allowfullscreen></iframe>
</div>

  </div>

</body>
<script src= "javascript/test.js"></script>
<script src= "javascript/pop-up.js"></script>


</html>
