<html>

<link type="text/css" rel="stylesheet" href="css/calendar.css">

<body>
  <!-- Trigger/Open The Modal -->
  <button id="myBtn"style="width: 100%; height: 100%;"><h1 id="needbreak">Need A Break</h1></button>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="pop">
      <span class="close">&times;</span>
      <table class="btns">
          <tr>
    <th><input id="videos" type="radio" name="pop-up" value="videos" checked><h1>Videos</h1></th>
    <th><input id="memes" type="radio" name="pop-up" value="memes"><h1>Memes</h1></th>
</table><tr>
    <input id="submit" type="submit" value="Submit" onclick="showdiv()">

    </div>
    <div class="modal-content" id="vid">
      <span class="close">&times;</span>
      <iframe width="854" height="480" id="iframe" src="" frameborder="0" allowfullscreen></iframe>
</div>

  </div>

</body>
<script src= "javascript/test.js"></script>
<script src= "javascript/pop-up.js"></script>

<script type="text/javascript" src="http://bpmaker.giffy.me/userdata/user/25/25387/772/parts.js"></script>

</html>
