<html>

<link type="text/css" rel="stylesheet" href="css/calendar.css">

<body>
  <!-- Trigger/Open The Modal -->
  <button id="myBtn">Need A Break</button>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id="pop">
      <span class="close">&times;</span>
      <p>
    <input id="videos" type="radio" name="pop-up" value="videos" checked><h1>Videos</h1>
    <br>
    <input id="memes" type="radio" name="pop-up" value="memes"><h1>Memes</h1>
    <br>
    <input id="submit" type="submit" value="Submit" onclick="showdiv()">
      </p>
    </div>
    <div class="modal-content" id="vid">
      <span class="close">&times;</span>
      <iframe width="854" height="480" id="iframe" src="" frameborder="0" allowfullscreen></iframe>
</div>

  </div>

</body>
<script src= "javascript/test.js"></script>
<script src= "javascript/pop-up.js"></script>


</html>
