<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://apis.google.com/js/platform.js" async defer></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>snappy break!</title>
    <h1>SNAPPY BREAK!</h1>
     <header class="main-header" role="banner">
     <img id="clock" src="https://media.giphy.com/media/tn8zWeNYA73G0/giphy.gif"  width:"1500" height="600" alt="Banner Image"/>
     <div class="layer"></div>
     </header>
    <link type="text/css" rel="stylesheet" href="css/homePage.css">
    <script src= "javascript/main.js"></script>
    <br>
    <br>
    <br>
</head>
<body>
    <br>
    <br>
        <br>
    <div class="calendarbutton">
        <form method="get" action="/calendarPage">
       <button type="submit">Calendar</button>
   </div>
</form>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <meta name="google-signin-client_id" content="872407350122-lpgqsuvleum7fqq6tukbnush5qav5ea8.apps.googleusercontent.com">
    <div class="bio">
        <p>

        </p>
</div>

<h2 id="title">More Info</h2>

<button class="accordion">About Us</button>
<div class="panel">
  <p id="intro"> I know you don’t want to take a break right now. Why? Because you’re too busy.
          The trouble is that, without any downtime to refresh and recharge, we’re less efficient,
          make more mistakes, and get less engaged with what we’re doing.  It is discovered that
          there’s power of taking breaks at work.  A study found it made people happier, more
          focused and more productive.  Breaks keep us from getting bored, feel unfocused, zoned
          out or even irritable. The human brain just wasn’t built for the extended focus we ask
          of it these days. Our main goal is to provide you a way to relieve stress throughout your
           workday by offering you links to games, articles, videos, and memes at times when you’re
           not busy based on your Google Calendar. </p>
</div>

<button class="accordion">Statistics</button>
      <div id="piechart" style="width: 900px; height: 500px;"></div>
  <br>
  <br>
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
              panel.style.display = "none";
          } else {
              panel.style.display = "block";
          }
      }
  }
  </script>
</body>
</html>

<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec1.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec1.png), progress;}</style>
<a href="http://www.cursors-4u.com/cursor/2005/04/21/mec1-95.html" target="_blank" title="Ticking Clock">
    <img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Ticking Clock" style="position:absolute; top: 0px; right: 0px;" /></a>
