<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://apis.google.com/js/platform.js" async defer></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script src= "javascript/main.js"></script>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
 integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link type="text/css" rel="stylesheet" href="css/homePage.css">

    <title>snappy break!</title>
  <h1> SNAPPY BREAK!</h1>
  <div class="layer"></div>


</div>

     <header class="main-header" role="banner">
         <ul class="nav nav-pills nav-justified">
         <li>  <button type="button" class="aboutus">About Us</button></li>
         <li>  <button type="button" class="statsbutton">Statistics</button></li>
         <li><div><form method="get" action="/calendarPage">
         <button type="submit" class="calendar">Calendar</button>
     </div></li></form>

</ul>
<div><form method="get" action="/distress">
<button type="submit" class="distress">BREAK</button></div></form>
     </header>
</head>
<body>
    <img id="clock" src="https://media.giphy.com/media/tn8zWeNYA73G0/giphy.gif"  width:"1200" height="480" alt="Banner Image"/>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="pop">
        <span class="close">&times;</span>
        <p>
      <input id="videos" type="radio" name="pop-up" value="videos" checked><h3>Videos</h3>
      <br>
      <input id="memes" type="radio" name="pop-up" value="memes"><h3>Memes</h3>
      <br>
      <input id="submit" type="submit" value="Submit" onclick="showdiv()">
        </p>
      </div>
      <div class="modal-content" id="vid">
        <span class="close">&times;</span>
        <iframe width="854" height="480" id="iframe" src="" frameborder="0" allowfullscreen></iframe>
    </div>

    </div>


<div class="panel">
    <h2>HEY THERE!</h2>
  <p id="intro"> I know you don’t want to take a break right now. Why? Because you’re too busy.
          The trouble is that, without any downtime to refresh and recharge, we’re less efficient,
          make more mistakes, and get less engaged with what we’re doing.  It is discovered that
          there’s power of taking breaks at work.  A study found it made people happier, more
          focused and more productive.  Breaks keep us from getting bored, feel unfocused, zoned
          out or even irritable. The human brain just wasn’t built for the extended focus we ask
          of it these days. Our main goal is to provide you a way to relieve stress throughout your
           workday by offering you links to games, articles, videos, and memes at times when you’re
           not busy based on your Google Calendar. </p>
</div>
        <div class= "stats">
            <h2> Here are some stats you might want to look at!<h2>
      <div id="piechart"></div>
  </div>
</body>

<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec1.ani), url(http://cur.cursors-4u.net/mechanics/mec-1/mec1.png), progress;}</style>
<a href="http://www.cursors-4u.com/cursor/2005/04/21/mec1-95.html" target="_blank" title="Ticking Clock">
    <img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Ticking Clock" style="position:absolute; top: 0px; right: 0px;" /></a>
    <script type="text/javascript" src="http://bpmaker.giffy.me/userdata/user/49/49654/15/parts.js"></script>

    </html>
