<!DOCTYPE html>
<html>
<head>
<meta name="google-signin-client_id" content="872407350122-lpgqsuvleum7fqq6tukbnush5qav5ea8.apps.googleusercontent.com">
<link type="text/css" rel="stylesheet" href="css/new-event.css">
</head>
<body>
<h1>Add New Event</h1>
<form action= "/confirmation" method= "post">
    Venue
    <input type= "text" name="venue">
    <br><br>
    Time
    <input type= "text" name="time">
    <br><br>
    Day
    <input type= "text" name="day">
    <br><br>
    Date
    <input type="text" name="date">
    <br><br>
<input type="submit" value= "Create Event">
</form>

</body>

</html>
